env:
  global:
    - JULIA_DEBUG="all"

julia:
    - "1.0"
    - "1.2"
    - "1.3"

language: julia

matrix:
    allow_failures:
        - julia: nightly
    fast_finish: true

os:
    - linux
    - osx

branches:
    only:
    - master
    - staging
    - trying
    - /^release\/.*$/ # release branches
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

script: julia --code-coverage --inline=no -e 'using Pkg; Pkg.build(); Pkg.test(coverage=true)'

after_success: julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
