julia:
    - 1.0
    - 1.1

language: julia

matrix:
    allow_failures:
        - julia: nightly
    fast_finish: true

os:
    - linux
    - osx

branches:
    only:
    - master
    - staging
    - trying
    - /^release\/.*$/ # release branches
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
